@charset "UTF-8";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}
/*Navbar CSS Code*/
.topnav {
  overflow: hidden;
  background-color: #29146e;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.active {
  background-color: #29146e;;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(18, 0, 82);
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  /*navbar*/
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .con-con {
    display: flex;
    padding-top: 10%;
    padding-left: 2%;
  }
  .contact-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .conimg {
    display: flex;
    padding-bottom: 10%;
  }
  .helpimg {
    display: none;
  }
  iframe {
    display: flex;
    width: 100%;
    height: auto;
    border-style: none;
    padding-top: 2%;
  }
  /* productimg */
  img {
    height: 80px;
  }
  /* footer */
  .con-info {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 2%;
  }
  .faxfooter {
    color: red;
  }
  .mailto {
    color: red;
  }
  .tel {
    color: red;
  }
  .flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%; 
  }
  .footer-web {
    display: flex;
    background-color: #29146e;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
  }
  .footer-item1 {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    bottom: 0;
  }
  .footer-item2 {
    display: flex;
    max-width: 100%;
    height: auto;
  }
  /* footer */
  /* producten */
  .product-main {
    padding-bottom: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 5%;
    
  }
  /* phones */
  .phonephp {
    padding-top: 5%;
    padding-left: 3%;
  }
  .phone-main {
    margin-bottom: 100%;
    margin-top: 20%;
    padding-left: 3%;
  }
  /* searchbar mobile */
  .searchbar {
    display: none;
  }
  .searchbar-mobile {
    display: flex;  
    margin-top: 3px;
    justify-content: center;
  }
  /* laptops */
  .laptopphp {
    padding-top: 5%;
    padding-left: 3%;
  }
  /* resultpage */
  .result-page {
    height: 100%;
    margin-bottom: 80%;
    padding-right: 2%;
  }
  /* klachten */
  .klachtform {
    display: flex;
    flex-direction: column;
    padding-right: 60%;
  }
  .names {
    padding-bottom: 5%;
  }
  .email {
    padding-bottom: 5%;
  }
  .date {
    padding-bottom: 5%;
  }
  .telform {
    padding-bottom: 3%;
  }
  .submit-reset {
    padding-top: 3%;
  }
  .titleklacht {
    padding-top: 4%;
  }
  /* index */
  .index-sold {
    padding-left: 2%;
    margin-bottom: 30%;
  }
  .saturn-logo {
    display: flex;
    justify-content: center;
  }
  /* searchbar */
  .searchbar {
    display: none;
  }
  /* filter */
  .prijsverschil {
    padding-top: 2%;
  }
  .radiofeed-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  /* over-ons */
  .personel-pictures {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
  }
  .txt-container-ons {
    padding-top: 15%;
    padding-left: 0.2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
  }

  .overonsbody {
    width: 100%;
    height: 100%;
  }

  /* index */


}

/* Responsive layout ipad */
@media only screen 
and (orientation : portrait) {
body {
 overflow-x: hidden;
}
/*navbar*/
.topnav a:not(:first-child),
.dropdown .dropbtn {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {
  float: none;
}
.topnav.responsive .dropdown-content {
  position: relative;
}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
.con-con {
  display: flex;
  padding-top: 10%;
  padding-left: 2%;
}

.contact-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conimg {
  display: flex;
  padding-bottom: 10%;
}
.helpimg {
  display: none;
}

iframe {
  display: flex;
  width: 100%;
  height: auto;
  border-style: none;
  padding-top: 2%;
}

/* productimg */
img {
  height: 80px;
}
/* footer */
.con-info {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-left: 2%;
}

.faxfooter {
  color: red;
}

.mailto {
  color: red;
}

.tel {
  color: red;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%; 
}
.footer-web {
  display: flex;
  background-color: #29146e;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
}
.footer-item1 {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  bottom: 0;
}

.footer-item2 {
  display: flex;
  max-width: 100%;
  height: auto;
}

/* footer */

/* producten */

.product-main {
  padding-bottom: 100%;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 5%;
}
/* phones */
.phonephp {
  padding-top: 5%;
  padding-left: 3%;
}

.phone-main {
  margin-bottom: 100%;
  margin-top: 20%;
  padding-left: 3%;
}
/* searchbar mobile */
.searchbar {
  display: none;
}

.searchbar-mobile {
  display: flex;
  margin-top: 3px;
  justify-content: center;
}
/* laptops */
.laptopphp {
  padding-top: 5%;
  padding-left: 3%;
}
/* resultpage */

.result-page {
  height: 100%;
  margin-bottom: 80%;
  padding-right: 2%;
}

/* klachten */
.klachtform {
  display: flex;
  flex-direction: column;
  padding-right: 60%;
}

.names {
  padding-bottom: 5%;
}

.email {
  padding-bottom: 5%;
}

.date {
  padding-bottom: 5%;
}

.telform {
  padding-bottom: 3%;
}

.submit-reset {
  padding-top: 3%;
}

.titleklacht {
  padding-top: 4%;
}
/* index */
.index-sold {
  padding-left: 2%;
  margin-bottom: 50%;
}
.saturn-logo {
  display: flex;
  justify-content: center;
}

/* searchbar */

.searchbar {
  display: none;
}
/* filter */
.prijsverschil {
  padding-top: 2%;
}
.radiofeed-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* over-ons */
.personel-pictures {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
}

.txt-container-ons {
  padding-top: 15%;
  padding-left: 0.2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
}

.overonsbody {
  width: 100%;
  height: 100%;
}
}

/* Responsive layout  desktop */
@media screen and (min-width: 989px) {
  h1 {
    font-size: 2em;
  }

  body {
    min-height: 100vh;
  }
  /* footer desktop */
  .con-info {
    display: flex;
    flex-direction: column;
    color: aqua;
  }
  .faxfooter {
    color: rgb(255, 255, 255);
  }
  .mailto {
    color: rgb(255, 255, 255);
  }
  .tel {
    color: rgb(255, 255, 255);
  }
  .flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    width: 100%;
    padding-left: 2%;
    margin-top: auto;
  }
  .infovragen {
    color: rgb(255, 255, 255);
  }
  .footer-web {
    position: absolute;
    max-height: 20vh;
    background-color: #29146e;
    width: 100%;
  }
  .footer-item2 {
    display: flex;
    max-width: 100%;
    height: auto;

  }
  /* footer desktop */
  /* contact page */
  .con-con {
    display: flex;
    padding-top: 4%;
    padding-left: 2%;
    position: relative;

  }

  .contact-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .con-links {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
  }
  .conimg {
    display: flex;
    flex-direction: row;
    padding-bottom: 25%;
    padding-top: 5%;
    justify-content: space-around;
  }
  .loc {
    padding-top: 2%;
  }
  iframe {
    padding-left: 1%;
    border-style: none;
    width: 100%;
  }
  .asideklacht {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  .klacht {
    margin-bottom: 14%;
    padding-left: 2%;
  }
  /* producten */
  .product-main {
    margin-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  img {
    height: 110px;
    margin-top: 1px;
  }
  /* phones */
  .phonephp {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 2%;
    margin-bottom: 12%;
    background-color: #e2e2e2;
  }
  /* searchbar */
  .searchbar {
    position: relative;
    margin-right: 4%;
    margin-top: 0.75%;
    float: right;
  }
  .searchbar-mobile {
    display: none;
  }
  /* laptops */
  .laptopphp {
    padding-top: 2%;
    margin-bottom: 12%;
    padding-right: 2%;
    padding-left: 2%;
  }
  button {
    cursor: pointer;
  }
  /* resultpage */
  .result-page {
    height: 100%;
    margin-bottom: 20%;
  }
  /* flex-mostsoldproducts */
  .index-sold {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    border-style: solid;
    border-color: #0083C0;
    padding: 2%;
  }
  /* index */
  .index-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .saturn-logo {
    display: flex;
    justify-content: center;
  }
  .product-index {
    padding-bottom: 15%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
  }
  /* klachten */
  .klachtform {
    display: flex;
    flex-direction: column;
    padding-right: 60%;
    padding-top: 5%;
  }
  .names {
    padding-bottom: 5%;
  }
  .email {
    padding-bottom: 5%;
  }
  .date {
    padding-bottom: 5%;
  }
  .telform {
    padding-bottom: 3%;
  }
  .submit-reset {
    padding-top: 3%;
  }
  /* filter */
  .prijsverschil {
    padding-top: 2%;
    padding-left: 5%;
  }
  .filter-flexy {
    display: flex;
  }
  .alphabet {
    padding-top: 2%;
    padding-left: 0.5%;
  }
  /* feedback */
  .feedback-link {
    padding-top: 5%;
    margin-bottom: 15px;
  }
  .radiofeed-btn {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
  }
  /* productpaginainfo */
  .producteninfo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding-top: 5%;
  }
  .producteninfo img {
    height: 220px;
  }
  .beschrijving {
    padding-top: 2%;
  }
  .klachtform2 {
    padding-bottom: 15%;
  }
  .radiofeed-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  /* infovragen */
  .infovragenflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #zoekfuncties {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-top: 10%;
    margin-bottom: 28%;
  }

  .resultaten-php {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 15%;
  }
  /* over-ons */
  .personel-pictures {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 5%;
  }
  .txt-container-ons {
    margin-bottom: 20%;
    padding-top: 8%;
  }
  .zoekfuncties {
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
   /* animation */
   .words {
    color: rgb(117, 110, 110);
    font-size: 0;
    line-height: 1.5;
  }
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  .logo.is-animetion {
    margin-top: 0.6em;
    font-size: 2rem;
    color: rgb(156, 158, 160);
  }
  
  .logo.is-animetion span {
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
  }
  
  .logo.is-animetion {
    span:nth-of-type(1){ animation-delay: 0.0s; }
    span:nth-of-type(2){ animation-delay: 0.1s; }
    span:nth-of-type(3){ animation-delay: 0.2s; }
    span:nth-of-type(4){ animation-delay: 0.3s; }
    span:nth-of-type(5){ animation-delay: 0.4s; }
    span:nth-of-type(6){ animation-delay: 0.5s; }
    span:nth-of-type(7){ animation-delay: 0.6s; }
    span:nth-of-type(8){ animation-delay: 0.7s; }
  }
  @keyframes wave-text{
    00%{
      transform: translateY(0em);
    }
    60%{
      transform: translateY(-0.6em);
    }
    100%{
      transform: translateY(0em);
    }
  }
  
}