@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navbar CSS Code*/
.topnav {
  overflow: hidden;
  background-color: #0083c0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right {
  float: right;
}

.active {
  background-color: #004175;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(18, 0, 82);
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media screen and (max-width: 600px) {
/*navbar*/
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .con-con {
    display: flex;
    padding-top: 10%;
    padding-left: 2%;
    
  }
  
  
  .contact-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
   
  }
  
  .conimg {
    display: flex;
    padding-bottom: 10%;
    
  }

  .helpimg {
    display: none;
  }

  iframe {
    display: flex;
    width: 100%;
    height: auto;
    border-style: none;
    padding-top: 2%;
  }
  
  
  
  
  /* footer */
  
  .con-info {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 2%;
  }
  
  .faxfooter {
    color: red;
  }
  
  .mailto {
    color: red;
  }
  
  .tel {
    color: red;
  }
  
  .flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
  }
  
  
  .footer-web {
    display: flex;
    background-color: #0083c0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
  
  }
  
  .footer-item1 {
    display: flex;
    padding-left: 2%;
    bottom: 0;
  
  }
  
  .footer-item2 {
    display: flex;
    max-width: 100%;
    height: auto;
    width: auto\9;
  
  }
  /* footer */


  /* producten */

  .product-main {
    padding-bottom: 85%;

  }

  /* phones */

  .phonephp {
    padding-top: 5%;
    padding-left: 3%;
  }

  




  





}











/* Responsive layout  desktop */
@media screen and (min-width: 601px) {
 
  body {
    margin: 0;
  }

  /* footer desktop */

  .con-info {
    display: flex;
    flex-direction: column;
  }

  .faxfooter {
    color: red;
  }

  .mailto {
    color: red;
  }

  .tel {
    color: red;
  }

  .flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    width: 100%;
    padding-left: 2%;

  }


  .footer-web {
    display: flex;
    background-color: #0083c0;
    position: sticky;
   max-height: 20vh;
   margin-top: auto;
   position: fixed;
   bottom: 0;
   width: 100%;



  }

  .footer-item1 {
    


  }

  .footer-item2 {
    
    max-width: 100%;
    height: auto;
    width: auto\9;

  }

  /* footer desktop */

  /* contact page */

  .con-con {
    display: flex;
    padding-top: 4%;
    padding-left: 2%;
    
    
    
  }

  .contact-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
  }

  .con-links {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
  }

  .conimg {
    display: flex;
    flex-direction: row;
    padding-bottom: 25%;
    padding-top: 5%;
    justify-content: space-around;

  }

  .loc {
    padding-top: 2%;
  }

  iframe {
    padding-left: 1%;
    border-style: none;
    width: 100%;
  }

 
  





  /* producten */

  .product-main {
    padding-bottom: 15%;

  }

  /* index */





  /* phones */

  .phonephp {
    padding-top: 2%;
    padding-left: 15%;
    
  }

 

  





}