@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* footer */

.footer-web {
    display: flex;
    background-color: rgb(59, 141, 255);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    
  
}

.footer-item1 {
    display: flex;
    padding-left: 2%;
    
   

}
.footer-item2 {
    display: flex;
    
   

}


/* footer */